# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Building the Better Way
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: headspring
github_username:  HeadspringLabs

# Build settings
markdown: kramdown
remote_theme: pmarsceill/just-the-docs

# Just the Docs Settings
logo: https://headspring.com/wp-content/uploads/2020/03/Headspring-Logo-Primary.png
search_enabled: false
aux_links:
  "Headspring Labs":
    - "//github.com/HeadspringLabs"
heading_anchors: true
footer_content: "Copyright &copy; 2020 Headspring. <a href=\"http://github.com/HeadspringLabs/\">Edit This Document</a>"
# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
